<!DOCTYPE html>
<html lang="sr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Slavica Cvetković</title>
		<link type="text/css" rel="stylesheet" href="./css/fonts.css" />
		<link type="text/css" rel="stylesheet" href="./css/materialize.min.css" />
		<link type="text/css" rel="stylesheet" href="./css/styles.css" />		
		<link rel="icon" type="image/x-icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩺</text></svg>">
		<meta name="description" content="" />
		<meta name="keywords" content=""/>
		<meta name="pragma" content="no-cache" />
		<meta name="cache-control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0, proxy-revalidate" />
		<meta name="robots" content="index, follow"/>
		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<meta property="og:image:alt" content="" />
	</head>
	<body id="app">	
		<header>
			<div class="navbar-fixed">
				<!-- desktop navigation start -->
				<nav>
					<div class="nav-wrapper">
						<a href="#" class="brand-logo right"><i class="small material-icons x-icon">local_hospital</i>Dr. Slavica Cvetković</a>
						<ul class="x-desktop-navigation left hide-on-small-only">
							<template v-for="(value, index) in navigation">
								<li><a v-bind:href="'#content-'+index">{{ value }}</a></li>
							</template>
						</ul>
						<ul class="x-mobile-navigation left hide-on-med-and-up show-on-small x-burger">
							<li>
								<a href="#" data-target="slide-out" class="sidenav-trigger" rel="nofollow">
									<i class="material-icons x-menu">menu</i>
								</a>
							</li>
						</ul>
					</div>
				</nav>
				<!-- desktop navigation end -->
			</div>
		</header>
		<main>
			<div class="container">
				<!-- mobile navigation start -->
				<ul id="slide-out" class="sidenav">
					<li>
						<div class="x-sidenav-close">
							<a class="sidenav-close" role="button" tabindex="0">
								<span class="material-icons">close</span>
							</a>
						</div>
					</li>
					<li><div class="divider"></div></li>
					<template v-for="(value, index) in navigation">
						<li><a v-bind:href="'#content-'+index" v-on:click="closeSideNav">{{ value }}</a></li>
					</template>
				</ul>
				<!-- mobile navigation end -->
				<div class="x-content" v-html="html"></div>
				<div class="center-align">© {{ date }} Dr. Slavica Cvetković</div>
			</div>
		</main>
		<a class="x-button-top hide-on-med-and-up show-on-small" href="#">
		  <i class="material-icons">arrow_drop_up</i>
		</a>		
		<div id="x-loader">		
			<div class="preloader-wrapper big active" v-if="isLoading">
			  <div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
				  <div class="circle"></div>
				</div><div class="gap-patch">
				  <div class="circle"></div>
				</div><div class="circle-clipper right">
				  <div class="circle"></div>
				</div>
			  </div>
			</div>
		</div>
		<script type="text/javascript" src="./js/vue.global.prod.js"></script>
		<script type="text/javascript" src="./js/axios.min.js"></script>
		<script type="text/javascript" src="./js/markdown-it-container.min.js"></script>
		<script type="text/javascript" src="./js/markdown-it.min.js"></script>
		<script type="text/javascript" src="./js/materialize.min.js"></script>
		<script type="text/javascript" src="./js/scripts.js"></script>
		<script type="text/javascript" src="./js/config.js"></script>
		<script type="text/javascript" src="./js/app.js"></script>
	</body>
</html>